* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    height: 8em;
}