* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    height: 8em;
}

.header__titulo {
    margin: 0.4em;
}

.main__heading2 {
    margin: 0.3em;
}

.main__user_attack_container {
    display: flex;
    justify-content: space-around;
}

.main__attack_image {
    width: 10em;
}

.main__cpu_attack_container {
    display: flex;
    justify-content: flex-start;
}

#respuesta_cpu {
    margin-left: 3em;
}

#veredicto {
    font-size: 3em;
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 1.2rem;
    }
}